.message {
  max-width: 500px;
}

body {
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  font-family: "Poppins", sans-serif;
}
